@model mvcMovie.ViewModels.KhachHangView
@section body_scripts
{
    @Html.Partial("_LeftMenu.cshtml")
}
@section above_scripts
{
    @Html.Partial("_AboveMenu.cshtml")
}

<hr />
<div class="card-body">
    <h3>Khách Hàng</h3>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="KhachHang">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">

                    <label asp-for="KhachHangDTO.Id" class="control-label"></label>
                    <input asp-for="KhachHangDTO.Id" value="@ViewBag.ThongTinKhachHang.Id" readonly="readonly" class="form-control" id="exampleInputEmail1"/>
                    <span asp-validation-for="KhachHangDTO.Id" class="text-danger"></span>

                </div>

                 <div class="form-group">

                    <label asp-for="KhachHangDTO.Ten" class="control-label"></label>
                    <input asp-for="KhachHangDTO.Ten" value="@ViewBag.ThongTinKhachHang.Ten" readonly="readonly" class="form-control" id="exampleInputEmail1"/>
                    <span asp-validation-for="KhachHangDTO.Ten" class="text-danger"></span>

                </div>

                 <div class="form-group">

                    <label asp-for="KhachHangDTO.DiaChi" class="control-label"></label>
                    <input asp-for="KhachHangDTO.DiaChi" value="@ViewBag.ThongTinKhachHang.DiaChi" readonly="readonly" class="form-control" id="exampleInputEmail1" />
                    <span asp-validation-for="KhachHangDTO.DiaChi" class="text-danger"></span>

                </div>

                 <div class="form-group">

                    <label asp-for="KhachHangDTO.DienThoai" class="control-label"></label>
                    <input asp-for="KhachHangDTO.DienThoai" value="@ViewBag.ThongTinKhachHang.DienThoai" readonly="readonly" class="form-control" id="exampleInputEmail1" />
                    <span asp-validation-for="KhachHangDTO.DienThoai" class="text-danger"></span>

                </div>
              

            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
