@model mvcMovie.ViewModels.TaiKhoanView
@section body_scripts
{
    @Html.Partial("_LeftMenu.cshtml")
}
@section above_scripts
{
    @Html.Partial("_AboveMenu.cshtml")
}

<hr />
<div class="card-body">
    <h3>Tài Khoản</h3>
    <div class="row">
        <div class="col-md-4">
            <form  asp-controller="TaiKhoan">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">

                    <label asp-for="TaiKhoanDTO.Id" class="control-label"></label>
                    <input asp-for="TaiKhoanDTO.Id" value="@ViewBag.ThongTinTaiKhoan.Id" readonly="readonly" class="form-control" id="exampleInputEmail1"  />
                    <span asp-validation-for="TaiKhoanDTO.Id" class="text-danger"></span>

                </div>
                 <div class="form-group">

                    <label asp-for="TaiKhoanDTO.Username" class="control-label"></label>
                    <input asp-for="TaiKhoanDTO.Username" value="@ViewBag.ThongTinTaiKhoan.Username" readonly="readonly" class="form-control" id="exampleInputEmail1"/>
                    <span asp-validation-for="TaiKhoanDTO.Username" class="text-danger"></span>

                </div>

                 <div class="form-group">

                    <label asp-for="TaiKhoanDTO.Password" class="control-label"></label>
                    <input asp-for="TaiKhoanDTO.Password" value="@ViewBag.ThongTinTaiKhoan.Password" readonly="readonly" class="form-control" id="exampleInputEmail1"  />
                    <span asp-validation-for="TaiKhoanDTO.Password" class="text-danger"></span>

                </div>

                  <div class="form-group">

                    <label asp-for="TaiKhoanDTO.Quyen" class="control-label"></label>
                    <input asp-for="TaiKhoanDTO.Quyen" value="@ViewBag.ThongTinTaiKhoan.Quyen" readonly="readonly" class="form-control" id="exampleInputEmail1" />
                    <span asp-validation-for="TaiKhoanDTO.Quyen" class="text-danger"></span>

                </div>

                 <div class="form-group">

                    <label asp-for="TaiKhoanDTO.KhachHangId" class="control-label"></label>
                    <input asp-for="TaiKhoanDTO.KhachHangId" value="@ViewBag.ThongTinTaiKhoan.KhachHangId" readonly="readonly" class="form-control" id="exampleInputEmail1"/>
                    <span asp-validation-for="TaiKhoanDTO.KhachHangId" class="text-danger"></span>

                </div>
               
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
